In [30]:
import numpy as np
import pandas as pd

data_seed = 1

tabm_preds = pd.read_csv(f'TabM_{data_seed}.csv')
lgbm_preds = pd.read_csv(f'lgbm_catboost_{data_seed}.csv', usecols=[0])
cat_preds = pd.read_csv(f'lgbm_catboost_{data_seed}.csv', usecols=[1])
ftt_preds = pd.read_csv(f'WideDeep_FTTransformer_{data_seed}_result.csv')
tabr_preds = pd.read_csv(f'TabR_{data_seed}.csv')

print(tabm_preds.shape, lgbm_preds.shape, cat_preds.shape, ftt_preds.shape, tabr_preds.shape)

(51271, 1) (51271, 1) (51271, 1) (51271, 1) (51271, 1)

In [34]:
final_preds = pd.concat([
    tabm_preds,
    lgbm_preds,
    cat_preds,
    ftt_preds,
    tabr_preds,
], axis=1)
final_preds.shape

(51271, 5)

In [35]:
final_preds['row_avg'] = final_preds.mean(axis=1)
final_preds

         tabm_1  lgbm_333   cat_333    tabm_1    tabr_1   row_avg
0      0.176262  0.232804  0.268662  0.192965  0.200010  0.214141
1      0.208191  0.220675  0.304258  0.209756  0.190900  0.226756
2      0.001020  0.001824  0.007232  0.000088  0.001739  0.002381
3      0.188523  0.204352  0.316936  0.230815  0.188189  0.225763
4      0.381180  0.392237  0.501368  0.409958  0.385195  0.413988
...         ...       ...       ...       ...       ...       ...
51266  0.000902  0.001357  0.002446  0.000028  0.000562  0.001059
51267  0.248063  0.242286  0.379117  0.248142  0.313677  0.286257
51268  0.098796  0.113929  0.177231  0.109500  0.103488  0.120589
51269  0.000094  0.000946  0.000313  0.000015  0.000334  0.000340
51270  0.001088  0.001598  0.001960  0.000063  0.001509  0.001244

[51271 rows x 6 columns]

In [36]:
from LG_Aimers_6th.cal_auc import calculate_auc

score = calculate_auc(final_preds['row_avg'], seed=data_seed)
score

0.7406071504051737